<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/css/index.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="menu">
            <li class="titulo"><a href="">Sabores</a></li>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="menu.html">Menu</a>
            </li>
            <li>
                <a href="inscrever.html">Inscrever-se</a>
            </li>
            <li>
                <a href="login.html">Entrar</a>
            </li>
            <li>
                <a href="">Contacto</a>
            </li>
        </nav>
    </header>
    

    <div class="welcome">
        <!-- <h1>Seja  <span> Bem-Vindo</span> ao nosso<span>Restaurante</span></h1> <br>
        <p class="container">O restaurante <span>Sabores</span> visa trazer para os nossos clientes, diferentes sabores ou comidas <br> de Angola 
       Ao melhor preço e qualidade, para tal temos profissionais qualificados para o trabalho. </p> -->
    </div>
    <h1 class="welcome" id="w">Nossos <span>Serviços</span></h1>
    <div class="container cartao">
       
        <div class="card">
            <div class="box">
                <div class="content">
                    <h2><img src="../Public/Assets/images/icons8-tray-100.png" alt=""></h2>
                    <h3>Festa de casamento</h3>
                    <p>Venha realizar a sua festa de casamento dos teus sonhos nas nossas instalações</p>
                </div>
            </div>
        </div>
  
    <div class="card">
            <div class="box">
                <div class="content">
                    <h2><img src="../Public/Assets/images/icons8-sala-de-reuniões-100.png" alt=""></h2>
                    <h3>Reuniões de serviço</h3>
                    <p>Com comida de qualidade e silêncio, com certeza vais fechar o negócio</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h2><img src="../Public/Assets/images/icons8-bolo-de-páscoa-100.png" alt=""></h2>
                    <h3>Festa</h3>
                    <p>Venha dar a melhor festa, para todas as idades </p>
                </div>
            </div>
        </div>
    </div>

    <h1 class="welcome" id="w">Nosso <span>Menu</span></h1>

    <div class="container comida">
        <div class="card-menu">
             <div class="card-header">
                 <img src="../Public/Assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" height="200px" width="300px"  alt="">
             </div>
             <div class="card-body">
          <h3 class="nome">
            Salada 
          </h3>
          <p class="preco">2000kz</p>
          <a href="">Comprar</a>
             </div>
        </div>
        <div class="card-menu">
            <div class="card-header">
                <img src="../Public/Assets/images/alex-munsell-auIbTAcSH6E-unsplash.jpg" height="200px" width="300px"  alt="">
            </div>
            <div class="card-body">
         <h3 class="nome">
           Bife
         </h3>
         <p class="preco">4000kz</p>
         <a href="">Comprar</a>
            </div>
       </div>
       <div class="card-menu">
        <div class="card-header">
            <img src="../Public/Assets/images/foad-roshan-Y6OgisiGBjM-unsplash.jpg" height="200px" width="300px"  alt="">
        </div>
        <div class="card-body">
     <h3 class="nome">
       Pizza
     </h3>
     <p class="preco">8000kz</p>
     <a href="">Comprar</a>
        </div>
   </div>
    </div>
</body>
</html>