<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/css/login.css">
    <title>Entrar</title>
</head>
<body>
 <div class="login-box">
     <h1>Entrar</h1>
     <div class="text-box">
     <input type="text" placeholder="nome de usuário" name="" id="" value="">
     </div>
     <div class="text-box">
        <input type="text" placeholder="palavra-passe" name="" id="" value="">
        </div>
        <input class="btn" type="submit" value="Entrar">
 </div>   
</body>
</html>