<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/css/index.css">
    <title>Document</title>
</head>
<body>
    <h1 class="welcome" id="w">Nosso <span>Menu</span></h1>

    <div class="container comida">
        <div class="card-menu">
             <div class="card-header">
                 <img src="../Public/Assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" height="200px" width="300px"  alt="">
             </div>
             <div class="card-body">
          <h3 class="nome">
            Salada 
          </h3>
          <p class="preco">2000kz</p>
          <a href="">Comprar</a>
             </div>
        </div>
        <div class="card-menu">
            <div class="card-header">
                <img src="../Public/Assets/images/alex-munsell-auIbTAcSH6E-unsplash.jpg" height="200px" width="300px"  alt="">
            </div>
            <div class="card-body">
         <h3 class="nome">
           Bife
         </h3>
         <p class="preco">4000kz</p>
         <a href="">Comprar</a>
            </div>
       </div>
       <div class="card-menu">
        <div class="card-header">
            <img src="../Public/Assets/images/foad-roshan-Y6OgisiGBjM-unsplash.jpg" height="200px" width="300px"  alt="">
        </div>
        <div class="card-body">
     <h3 class="nome">
       Pizza
     </h3>
     <p class="preco">8000kz</p>
     <a href="">Comprar</a>
        </div>
   </div>
    </div>
</body>
</html>